body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffde7; /* Light Yellow */
    font-size: 16px;
}

header {
    background-color: #ffb74d; /* Lighter Orange */
    color: white;
    text-align: center;
    padding: 0rem 0;
    font-size: 1.5rem; /* Header font size */
}

header img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto; /* Center align if needed */
    max-height: 100px; /* Adjust height as needed */
}

nav {
    display: flex;
    justify-content: center;
    background-color: #ffee58; /* Bright Yellow */
    padding: 1rem;
    font-size: 1.1rem; /* Navigation font size */
}

footer {
    background-color: #66bb6a; /* Green */
    color: white;
    text-align: center;
    padding: 1rem 0;
    position:static;
    bottom: 0;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.user-img {
    width: 50px;
    border-radius: 100%;
    border: 1px solid #eee;
}

.sidebar {
    position: absolute;
    top: 100px;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: #fff171;
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
}

.sidebar.active ~ .main-content {
    left: 250px;
    width: calc(100% - 250px);
}

.sidebar.active {
    width: 250px;
}

.sidebar #btn {
    position: absolute;
    color: #12171e;
    top: 2rem;
    left: 30%;
    font-size: 2.2rem;
    line-height: 50px;
    transform: translateY(-50%);
    cursor: pointer;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar .top .logo {
    color: #12171e;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .top .logo {
    opacity: 1;
}

.top .logo i {
    font-size: 28rem;
    color: #12171e;
    margin-right: 5px;
}

.user {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.user p {
    color: #12171e;
    opacity: 1;
    margin-left: 1rem;
}

.bold {
    font-weight: 600;
}

.sidebar p {
    opacity: 0;
}

.sidebar.active p {
    opacity: 1;

}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}

.sidebar ul li  a {
    color: #12171e;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidebar ul li a:hover {
    background-color: #33691e;
    color: #12171e;
}

.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav-item {
    opacity: 0;
}

.sidebar.active .nav-item {
    opacity: 1;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
}

.sidebar ul li:hover .tooltip {
    opacity: 0;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.main-content {
    position: relative;
    background-color: #fff9c4;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
}   



/* section welcome */
.start-section {
    padding: 20px 0;
    text-align: center;
    background-color: #fff9c4; /* Optional background color */
}

.section-intro h2 {
    font-size: 1.8rem;
    font-family: 'Georgia', serif;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333; /* Adjust as per your theme */
}

.section-intro p {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 40px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

.image-container {
    flex: 1;
    padding: 20px;
}

.image-container img {
    width:auto;
    border-radius: 8px;
}

.text-container {
    flex: 1;
    padding: 2  0px;
    text-align: left;
}

.text-container h3 {
    font-size: 1.3rem;
    font-family: 'Georgia', serif;
    font-weight: bold;
    color: #333; /* Adjust as per your theme */
}

.text-container p {
    font-size: 0.8rem;
    color: #666;
    margin-bottom: 20px;  
}
/* alight right text */
.text-rightcontainer {
    flex: 1;
    padding: 2  0px;
    text-align: right;
}

.text-rightcontainer h3 {
    font-size: 1.3rem;
    font-family: 'Georgia', serif;
    font-weight: bold;
    color: #333; /* Adjust as per your theme */
    text-align: right;
}

.text-rightcontainer p {
    font-size: 0.8rem;
    color: #666;
    margin-bottom: 20px;  
    text-align: right;
}

/* buttons */

.button-container {
    margin-top: 10px;
}

.btn {
    font-size: 0.8rem;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.Abtn {
    font-size: 1rem;
    padding: 9px 80px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.add-btn {
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
}

.add-btn:hover{
    background-color: #558b2f; /* Darker Green */
}

.edit-btn {
    background-color: #FF9800; /* Orange */
    color: white;
    border: none;
}

.edit-btn:hover {
    background-color: #cc7c04;
}

.remove-btn {
    background-color: #F44336; /* Red */
    color: white;
    border: none;
}

.remove-btn:hover {
    background-color: #d9534f; /* Darker red on hover */
}

.btn:hover {
    opacity: 0.8;
}

.act-form {
    margin-top: 20px;
    text-align: center;
}

.act-form input {
    padding: 8px;
    font-size: 12px;
    margin: 5px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.image-container img {
    max-width: 100%; /* Allow the image to be responsive within its container */
    max-height: 300px; /* Set the maximum height for the image */
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Optionally, cover the container if the image aspect ratio doesn't match */
}


/* Hide the button on larger screens */
.svg-hamburger {
    display: none;
}
  
.mobile-nav {
    display: none; 
}
/* Media Query for Sidebar on Mobile */
@media screen and (max-width: 768px){
    .sidebar {
        display: none;
    }

        /*Navigation*/
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
    }
      /* Initial hidden state for nav */
    .mobile-nav {
        display: none; 
        flex-direction: column; 
        font-size: 1rem;
        background-color: #ffee58;
        padding: 1rem;
    }

    nav.active {
        display: flex;
    }

    nav a {
        padding: 1rem;
        color: #12171e;
        text-decoration: none;
    }

    .svg-hamburger {
        display: block;
        width: 2rem;
        height: 2rem;
    }

    .svg-hamburger:hover{
        cursor: pointer;
    }

    .main-content {
        min-height: 100vh;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1rem;
    }
  
}